<!DOCTYPE html>
<html lang="en">
<head>
  <title>Railway Controller</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/socket.io.slim.js"></script>
</head>
<body>
  <!-- 4 - contained in center example -->
  <nav class="navbar navbar-dark bg-primary" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <a class="navbar-brand" href="#">Railway Controller | <span data-toggle="modal" data-target="#exampleModal"> ></span> </a>
    </div>
  </nav>

  <div class="container-fluid">

    <div class="row mt-3 py-2">
      <div class="col-12">
        <div class="card text-center py-3 px-3">
          <div class="card-header">
            Train Tracking
          </div>
          <div class="card-body"></div>
            <img class="card-img-bottom mx-auto d-block" src="https://raw.githubusercontent.com/bulantech/railway-controller/master/controller/doc/map.jpg" alt="Card image cap" style="height: 300px; width: 600px;">
          </div>
        </div>
      </div>      
    </div>

    <div class="row mt-3 py-2">
      <div class="col-12">
        <div class="card text-center py-3 px-3">
          <div class='card-deck'>
          <!-- <div class="col-4"> -->
            <div class="card text-center" name="1">
              <div class="card-header">
                Train 1
              </div>
              <div class="card-body">
                <button class="btn btn-primary btn-lg train" type="button">START</button>
                <button class="btn btn-danger btn-lg train" type="button">STOP</button>
              </div>
            </div>
          <!-- </div>
          <div class="col-4"> -->
            <div class="card text-center" name="12">
                <div class="card-header">
                  Both
                </div>
              <div class="card-body">
                <button class="btn btn-danger btn-lg train" type="button">STOP</button>
              </div>
            </div>
          <!-- </div>
          <div class="col-4"> -->
            <div class="card text-center" name="2">
              <div class="card-header">
                Train 2
              </div>
              <div class="card-body">
                <button class="btn btn-primary btn-lg train" type="button">START</button>
                <button class="btn btn-danger btn-lg train" type="button">STOP</button>
              </div>
            </div>
          </div>      
        </div>
      </div>      
    </div>

    <div class="row mt-3 py-2">
      <div class="col-12">
        <div class="card text-center py-3 px-3">
          <div class='card-deck'>
            <div class='card text-center' name='1'>
              <img class='card-img-top' src='https://raw.githubusercontent.com/bulantech/railway-controller/master/turnout/doc/l.jpg' alt='Card image cap'>
              <div class='card-body'>
                <h5 class='card-title'>Turnout 1</h5>
                <button type='button' class='btn btn-danger btn-lg rl' name='l'><h2><-</h2></button>
                <button type='button' class='btn btn-primary btn-lg rl' name='r'><h2>-></h2></button>
              </div>
            </div>
            <div class='card text-center' name='2'>
              <img class='card-img-top' src='https://raw.githubusercontent.com/bulantech/railway-controller/master/turnout/doc/l.jpg' alt='Card image cap'>
              <div class='card-body'>
                <h5 class='card-title'>Turnout 2</h5>
                <button type='button' class='btn btn-danger btn-lg rl' name='l'><h2><-</h2></button>
                <button type='button' class='btn btn-primary btn-lg rl' name='r'><h2>-></h2></button>
              </div>
            </div>
            <div class='card text-center' name='3'>
              <img class='card-img-top' src='https://raw.githubusercontent.com/bulantech/railway-controller/master/turnout/doc/l.jpg' alt='Card image cap'>
              <div class='card-body'>
                <h5 class='card-title'>Turnout 3</h5>
                <button type='button' class='btn btn-danger btn-lg rl' name='l'><h2><-</h2></button>
                <button type='button' class='btn btn-primary btn-lg rl' name='r'><h2>-></h2></button>
              </div>
            </div>
            <div class='card text-center' name='4'>
              <img class='card-img-top' src='https://raw.githubusercontent.com/bulantech/railway-controller/master/turnout/doc/l.jpg' alt='Card image cap'>
              <div class='card-body'>
                <h5 class='card-title'>Turnout 4</h5>
                <button type='button' class='btn btn-danger btn-lg rl' name='l'><h2><-</h2></button>
                <button type='button' class='btn btn-primary btn-lg rl' name='r'><h2>-></h2></button>
              </div>
            </div>
          </div>
        </div> 
      </div>   
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Setting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label >Train1 IP</label>
              <input type="text" class="form-control" id="train1Ip">
            </div>
            <!-- <div class="form-group">
              <label >Train1 sensor count</label>
              <input type="text" class="form-control" >
            </div> -->
            <div class="form-group">
              <label >Train2 IP</label>
              <input type="text" class="form-control" id="train2Ip">
            </div>
            <!-- <div class="form-group">
              <label >Train2 sensor count</label>
              <input type="text" class="form-control" >
            </div> -->
            <div class="form-group">
              <label >Turnout IP</label>
              <input type="text" class="form-control" id="turnoutIp">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      console.log('start..')
      namespace = '/chat';
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('chat message', {data: 'I\'m connected!'});
        console.log('connect')
      });
      socket.on('disconnect', function() {
        $('#log').append('<br>Disconnected');
      });
      socket.on('my response', function(msg) {
        console.log('my response '+ msg)
        $('#log').append('<br>Received: ' ,msg.data);
      });
      
      socket.on('sensor', function(msg) {
        console.log(msg)
        $('#log').append('<br>Received:>> ' + msg.event + ',' + msg.channel);
      });

      $('#emit').click(function(event) {
        var jqxhr = $.ajax( "http://192.168.1.38:8001/start" )
          .done(function() {
            console.log( "success" );
          })
          .fail(function(err) {
            console.log( "error " + err );
          })
          .always(function() {
            console.log( "complete" );
          });

          socket.emit('chat message', {data: $('#emit_data').val()});
          console.log('-----'+$('#emit_data').val())
          return false;
      });
      
      // Train start stop 
      $('.train').click(function(e) {  
        let name = $(this).text();
        let cardNumber = $(this).parent().parent().attr('name');
        let ip1 = $('#train1Ip').val();
        let ip2 = $('#train2Ip').val();
        let url1 = 'http://'+ip1+':8001/'+name.toLowerCase();
        let url2 = 'http://'+ip2+':8001/'+name.toLowerCase();

        if(ip1 == '' || ip2 == '') { 
          alert('Enter Train ip');
          return;
        }
        // console.log(name, cardNumber, url1, url2)
        if(cardNumber=='1') {
          console.log(name, cardNumber, url1)
          $.get( url1, function( data ) {
            console.log( data );
          });
        } else if(cardNumber=='2') {
          console.log(name, cardNumber, url2)
          $.get( url2, function( data ) {
            console.log( data );
          });
        } else {
          console.log(name, cardNumber, url1, url2)
          $.get( url1, function( data ) {
            console.log( data );
          });
          $.get( url2, function( data ) {
            console.log( data );
          });
        }  
      }); 

      // Turnout 
      $('.rl').click(function(e) {  
        let name = $(this).attr('name');
        let cardNumber = $(this).parent().parent().attr('name');
        let ip = $('#turnoutIp').val();
        let url = 'http://'+ip+'/'+cardNumber+'/'+name;
        let origin = window.location.origin;

        if(ip == '') { 
          alert('Enter Railroad Switch ip');
          return;
        }

        $(this).parent().find('button').removeClass().addClass('btn btn-primary btn-lg');
        $(this).removeClass().addClass('btn btn-danger btn-lg');
        $(this).parent().parent().find('img').attr('src','https://raw.githubusercontent.com/bulantech/railway-controller/master/turnout/doc/l.jpg');
        if(name=='r') {
          $(this).parent().parent().find('img').attr('src','https://raw.githubusercontent.com/bulantech/railway-controller/master/turnout/doc/r.jpg');
        }
        
        console.log(name, cardNumber, ip, url, origin)   ;     
        $.get( url, function( data ) {
          console.log( data );
        });
      }); 

    });
  </script>
</body>
</html>
