[Unit]
Description=Train auto start
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=pi
WorkingDirectory=/home/pi/railway-controller/train/
ExecStart=/usr/bin/python app.py
Restart=on-failure
# Other Restart options: or always, on-abort, etc
RestartSec=30s

[Install]
WantedBy=multi-user.target

# enter command to setup service
# cd /home/pi/railway-controller/train/doc
# sudo cp train.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl start train
# sudo systemctl status train
# sudo systemctl enable train
